<section
  class="relative w-full bg-background z-10 py-24"
  id="projects"
  #section
>

  <!-- Section Header -->
  <div class="max-w-7xl mx-auto px-6 pb-16 relative z-10">
    <app-section-title title="Selected Work" />
  </div>

  <!-- Projects Grid -->
  <div class="max-w-7xl mx-auto px-6 relative z-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      @for (project of displayedProjects(); track $index) {
      <app-project-card [project]="project" [attr.data-index]="$index" />
      }
    </div>

    <!-- View All Projects Button -->
    <div class="flex justify-center mt-16">
      <a hlmBtn variant="outline" routerLink="/projects"> View All Projects </a>
    </div>
  </div>
</section>
