<section class="sticky top-0 z-0 w-full h-screen overflow-hidden text-black bg-background">


  <!-- Social Sidebar -->
  <div class="absolute left-8 bottom-8 z-50 hidden md:flex opacity-0 hero-text-reveal">
    <app-social-sidebar />
  </div>

  <!-- Main Content -->
  <div class="absolute inset-0 flex flex-col items-center justify-center z-40 pointer-events-none">
    <div class="text-center space-y-2">
      <p class="text-lg md:text-xl text-gray-600 mb-4 hero-text-reveal opacity-0">Hi! I'm Aziz</p>
      <h1 class="text-5xl md:text-5xl lg:text-7xl font-medium tracking-tight leading-tight hero-text-reveal opacity-0">
        Full-stack Developer
      </h1>
      <h1 class="text-5xl md:text-4xl lg:text-5xl font-medium text-[#45474D] tracking-tight leading-tight hero-text-reveal opacity-0">
        AI & Web Enthusiast.
      </h1>
    </div>
  </div>

  <!-- 3D Canvas Container -->
  <div #canvasContainer class="absolute inset-0 z-30 opacity-0"></div>

  <!-- Scroll Indicator -->
  <app-scroll-indicator />
  
  <!-- Bottom Right Action -->
  <div class="absolute bottom-8 right-8 z-50">
      <button class="w-12 h-12 rounded-full bg-black/10 flex items-center justify-center hover:bg-black/20 transition-colors">
          <div class="w-6 h-[2px] bg-black"></div>
      </button>
  </div>
</section>
